body, h2, h3{
	font-family: 'Arvo', serif;
	color:#444;
	font-size:1.6em;
	background:url('/playground/demo/money_converter/images/bg-body.gif');
}
.ad_container{
	margin-bottom:20px;
	height:100px;
	float:right;
}
.container{
	width:90%;
	margin:30px auto;
	padding:25px;
	min-height:400px;
	height:auto;	
}
select, input{
	padding:10px;
	border:1px solid #a1a1a1;
	font-size:14px;
}
#exchange{
	padding:15px;
	width:250px;
}
.form{
	text-align:center;
	width:70%;
	margin:0 auto;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #a1a1a1;
	padding:40px;
}
